html {
  height: 100%;
}
body {
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-image: url("chrome-extension://__MSG_@@extension_id__/views/norless/3168883-1-1.jpg") !important;
}
