body header:not(.unstyled) {
  background-color: #fff;
}

body .navbar-nav.navbar-right {
  background: #fff;
}

body .navbar-default .navbar-nav > .active > a,
body .navbar-default .navbar-nav > .active > a:focus,
body .navbar-default .navbar-nav > .active > a:hover,
body .navbar-default .navbar-nav > li > a:focus,
body .navbar-default .navbar-nav > li > a:hover {
  background: #dcd3f5;
  color: #000;
}

body .navbar-default .navbar-nav > li > a {
  color: #000;
}

body #mt-nav-scope > a > [class*="icon"]:after {
  box-shadow: 0 0 0 2px #fff;
  background: #000;
}

body #mt-nav-scope.open > a:focus > [class*="icon"]:after,
body #mt-nav-scope.open > a:hover > [class*="icon"]:after,
body #mt-nav-scope.open > a > [class*="icon"]:after,
body #mt-nav-scope > a:focus > [class*="icon"]:after,
body #mt-nav-scope > a:hover > [class*="icon"]:after {
  box-shadow: 0 0 0 2px #dcd3f5;
  background: #000;
}

body .navbar-nav.navbar-right > li:not(.is-text) .navbar-icon-button:focus,
body .navbar-nav.navbar-right > li:not(.is-text) .navbar-icon-button:hover,
body .navbar-nav.navbar-right > li:not(.is-text) > a:focus,
body .navbar-nav.navbar-right > li:not(.is-text) > a:hover {
  background: #dcd3f5;
  color: #000;
}

body .navbar-collapse.collapse .navbar-left:after {
  background: none;
}

body #mt-nav-logo-img {
  content: url("chrome-extension://__MSG_@@extension_id__/views/trados/tradosblack.webp") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  width: 106px !important; /* Set exact width to match original */
  height: 46px !important; /* Set exact height to match original */
  object-fit: contain !important; /* Maintain aspect ratio */
}

body .navbar-nav.navbar-right > li:not(.is-text) .navbar-icon-button,
body .navbar-nav.navbar-right > li:not(.is-text) > a {
  color: #000;
}

body .btn-primary,
body .btn-cta {
  background: #dcd3f5;
  color: #000;
}

body .btn-primary:active,
body .btn-primary:hover,
body .btn-primary:focus,
body .btn-cta:active,
body .btn-cta:focus,
body .btn-cta:hover {
  background: #c4b8e4;
  color: #000;
}

body .btn-inverted {
  background-color: #fff;
  color: #8254f6;
}

body .btn-inverted:active,
.btn-inverted:focus,
.btn-inverted:hover {
  background-color: #dfe6e9;
  color: #8254f6;
}

body .btn-inverted.disabled,
.btn-inverted[disabled],
fieldset[disabled] .btn-inverted {
  background-color: #fff;
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #dcd3f5;
  border-color: #006667;
}

body .dropdown-menu > li > a:focus,
body .dropdown-menu > li > a:hover {
  background: #dcd3f5;
  color: #000;
}

body .table tr.row-highlight,
body .table.dataTable tr.row-highlight {
  background-color: #dcd3f5 !important;
  outline: solid 2px #8254f6;
  outline-offset: -2px;
}

body table.dataTable > tbody > tr.selected > td.select-checkbox:before,
body table.dataTable > tbody > tr.selected > th.allow-select.select-checkbox:before,
body table.dataTable > thead > tr.selected > td.select-checkbox:before,
body table.dataTable > thead > tr.selected > th.allow-select.select-checkbox:before {
  background-color: #8254f6;
  border-color: #8254f6;
}

body .nav-tabs > li.active > a,
body .nav-tabs > li.active > a:focus,
body .nav-tabs > li.active > a:hover {
  color: #8254f6;
  background: 0 0;
  border: 0;
  border-bottom: 3px solid #8254f6;
}

body .navbar-icon-button {
  color: #999;
}
body .navbar-icon-button:focus,
body .navbar-icon-button:hover {
  color: #fff;
  background-color: #999;
}

body .text-primary {
  color: #8254f6;
}

body .table.dataTable.table-hover > tbody > tr:not(.has-overlay):hover,
body .table.table-hover > tbody > tr:not(.has-overlay):hover {
  background-color: #dcd3f5;
}
