.bg-white:fullscreen {
  background: #82663a !important;
  font-size: 1.2rem !important;
}

.bg-white:fullscreen .overflow-y-auto {
  max-height: 100% !important;
}

.bg-white:fullscreen p.text-2xl {
  font-size: 2.5rem;
  line-height: 3rem !important;
}

.bg-white:fullscreen .dark\:text-gray-500:is(.dark *) {
  color: #ffffffae !important;
  font-size: 0.7rem !important;
}

.bg-white:fullscreen .mb-0\.5 {
  margin-bottom: 0 !important;
}

/* Active voice */
.bg-white:fullscreen .dark\:bg-orange-900\/30:is(.dark *) {
  background: #846635 !important;
}
