.key-code {
  background-color: #222222;
  padding: 0.3rem 0.3rem;
  border-radius: 0.3em;
  border: 1px solid #ffffff40;
  font-family: ArialMT, Helvetica Neue, Arial, Liberation Sans, FreeSans, sans-serif;
}

.context-menu .key-code,
#custom-prompt .key-code {
  user-select: text;
  -webkit-user-select: text;
  background-color: #22222230;
  border: 1px solid #22222250;
  font-size: 0.8em;
  font-weight: normal;
}
